{{> head }}


{{> navbar }}

<div class="row">
    
    <div class="col-8">
        <h1>Gatito</h1>
    </div>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati maxime ratione esse earum, vero atque autem voluptatem totam dignissimos eum quo molestias vel dolorum amet culpa! Consectetur maiores repellat exercitationem.</p>
    <div class="col-4">
        <img src="assets/img/TigerAtrox.jpg" alt="img-thumbnail">
    </div>
</div>

{{> footer}}
